@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #1d0f43;
  --bg-color-2: #220b4f;
  --text-color: white;
  --text-hover: #6666ff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 10% 5rem;
}

/* Navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 10%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar a {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 700;
}

.navbar a:hover,
.navbar a.active {
  color: var(--text-hover) !important;
}

#hamburger-icon {
  font-size: 3.5rem;
  color: var(--text-color);
  display: none;
}

/* Section */
.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gradien Transisi */
.home::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background: linear-gradient(to bottom, var(--bg-color), var(--bg-color-2));
  z-index: -1;
}

.home,
.portfolio {
  position: relative;
}

.home-content h3 {
  font-size: 3.5rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

.home-content h4 {
  font-size: 3.5rem;
  font-weight: 700;
  color: var(--text-hover);
  line-height: 2;
}

.home-img img {
  width: 25vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home-content p {
  font-size: 1.5rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--text-hover);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--text-hover);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.social-media a:hover {
  background-color: var(--text-hover);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--text-hover);
}

.btn {
  display: inline-block;
  padding: 1rem 2.5rem;
  background: var(--text-hover);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--text-hover);
  font-size: 1.5rem;
  color: var(--bg-color);
  letter-spacing: 0.1rem;
  font-weight: 700;
  transition: 0.1 ease;
}

.btn:hover {
  box-shadow: none;
}

.portfolio {
  background: var(--bg-color-2);
}

/* Gradien Transisi */
.portfolio::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(to bottom, var(--bg-color-2), var(--bg-color));
  z-index: 1;
}

.portfolio,
.message {
  position: relative;
}

.portfolio h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.portfolio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.portfolio-box p {
  font-size: 1.5rem;
  text-align: center;
}

.message {
  background: var(--bg-color);
}

.message h2 {
  font-size: 2rem;
  margin-bottom: 5rem;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15rem;
}

.form-input,
.form-output {
  flex: 1;
  min-width: 300px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  vertical-align: top;
}

.label-cell {
  white-space: nowrap;
  padding-right: 10px;
}

label {
  display: inline-block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}

.form-output {
  font-size: 1.5rem;
}

/* Footer */
.footer {
  padding: 2rem 0;
  background: var(--bg-color-2);
}

.footer p {
  font-size: 1.5rem;
  text-align: center;
}

/* Breakpoints */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3%;
  }

  .portfolio {
    padding: 7rem;
  }

  .message {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #hamburger-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    padding: 1rem 0;
    text-align: center;
    z-index: 1;
  }

  .navbar a {
    margin: 1rem 0;
  }

  .navbar.active {
    display: flex;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h4 {
    font-size: 5rem;
  }

  .home-img img {
    display: none;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .message .message-container form input {
    width: 100%;
  }
}
